#nav{
	float: right;
	margin-top: 50px;
}

#nav a{
	text-decoration:  none;
	color:black;
}
#nav :hover{
	color:pink;
}

body{
	background-color: #6E6262;
		
	text-align:center;
	font-size: 20px;
	font-style: times;
	font-family: 'Special Elite', cursive;
	color:black;
	background-image: url("homepageimage/oldframe.jpg");

}

header{
	width:960px;
	height:200px;
}

h1{
	margin: 80px;
	text-shadow:2px 2px 4px #333333;
}

.button{
	margin:100px;
	width:50px;
	height:50px;
	margin-left: 625px;
}
.links {
	padding:25px;
	text-decoration: none;
	
}
.links a {
	text-decoration: none;
	margin: 30px;
	color:white;
	
	
}
.links a:hover{
	color:pink;
	font-family: helvetica;
}

ul{
	text-decoration: none;
}

footer{
	margin-top: 200px;
}






